<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdhlAd1phlaUlY_4OXJJtWhXBtIHz6SeI</string>
	<key>GCM_SENDER_ID</key>
	<string>368644420391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andraz.training-app</string>
	<key>PROJECT_ID</key>
	<string>training-app-b8140</string>
	<key>STORAGE_BUCKET</key>
	<string>training-app-b8140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368644420391:ios:550de6a066b3801d1aef02</string>
</dict>
</plist>